{% load static %}
<header>
    <a href="Zamonaviy OT.html"><img class="logo" src={% static "dist/logoword-removebg-preview.svg" %} alt="logo"></a>
    <nav>
      <ul class="nav_links">
        <li><a href="https://www.microsoft.com">Windows</a></li>
        <li><a href="https://www.apple.com">MacOS</a></li>
        <li><a href="https://www.linux.org">Linux</a></li>
        <li><a href="https://www.android.com">Android</a></li>
        <li><a href="https://www.apple.com">iOS</a></li>
      </ul>
    </nav>
    <a class="ctn" href="https://t.me/Student_of_TUIT_G"><button><i class="fa fa-telegram"> Aloqa uchun</i></button></a>
  </header>
