{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href={% static "dist/page1style.css" %}>
  <link rel="Icon" href={% static "dist/macospng.png" %}>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Zamonaviy OT</title>
</head>
<!-- header -------------------------------------------------------------------->
<body>
    {% include 'navbar.html' %}


  <div class="windows">
    <ul>
    <img src={% static "dist/winpng.png" %} width="300px" height="300px">
    </ul>
<h1>Windows operatsion tizimi<br></h1>
<p>
    <br>Windows Microsoft tomonidan shaxsiy kompyuterlar va serverlar uchun yaratilgan operatsion tizimlar oilasining nomidir.<br><br>
    Windows 10 — shaxsiy kompyuterlar va ish stantsiyalari uchun Microsoft tomonidan Windows NT oilasi tomonidan ishlab chiqilgan operatsion tizim. Windows 8.1`dan so`ng, tizim 9 ni chetlab o`tib, 10 raqamni oldi, Windows 10`ning server hamkori Windows Server 2016 hisoblanadi.

Tizim turli xil qurilmalar, masalan, shaxsiy kompyuterlar, planshetlar, smartfonlar, Xbox One pristavkalari va boshqalar uchun birlashtirilgan bo`lishi uchun ishlab chiqilgan bo`lib, unda barcha qo`llab-quvvatlanadigan qurilmalar bilan birlashtirilgan rivojlanish platformasi va universal dasturlarning yagona do`koni mavjud. Windows 10 xizmat sifatida qo`llab-quvvatlash sikli davomida yangilanishlar bilan ta`minlanadi. Tizim chiqarilgandan keyingi birinchi yil davomida foydalanuvchilar Windows 7, Windows 8.1 va Windows Phone 8.1 ning litsenziyalangan nusxalarini ishlaydigan qurilmalarda Windows 10`ga bepul o`tishlari mumkin edi. Muhim yangiliklar qatoriga “Cortana” ovozli yordamchisi, bir nechta ish stoli yaratish va almashtirish qobiliyati va boshqalar kiradi. Windows 10 — bu Windows`ning so`nggi “qutidagi” versiyasi, barcha keyingi versiyalar faqat raqamli shaklda tarqatiladi.

Windows 10 foydalanuvchi shartnomasi Microsoft`ga foydalanuvchi, uning Internetdagi faoliyati tarixi, kirish nuqtalari uchun parollar, klaviaturada yozilgan ma`lumotlar va boshqa ko`p narsalar haqida ko`p ma`lumot to`plash imkonini beradi.

W3Schools statistik ma`lumotlariga ko`ra, Windows 10 Internetga ulanish uchun ishlatiladigan operatsion tizimlar orasida dunyoda birinchi o`rinni egallab turibdi.


</p>
</div>




  <!--footer ------------------------------------------------------------------->
  {% include 'footer.html' %}
</body>
</html>