{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href={% static "dist/page4style.css" %}>
  <link rel="Icon" href={% static "dist/macospng.png" %}>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Zamonaviy OT</title>
</head>
<!-- header -------------------------------------------------------------------->
<body>
    {% include 'navbar.html' %}


  <div class="windows">
    <ul>
    <img src={% static "dist/androidpng.png" %} width="400px" height="300px">
    </ul>
<h1>Android operatsion tizimi<br></h1>
<p>
    <br>Android (yunoncha andro — „inson, erkak“, oid qoʻshimchasi — „robot“; „odamsimon robot“) — smartfonlar, planshetlar, elektron kitoblar, raqamli pleyerlar, qoʻl soatlari, fitnes bilakuzuklar, oʻyin pristavkalari, noutbuklar, netbuklar, smartbuklar, Google Glass koʻzoynaklari[12], televizorlar[13], proyektorlar hamda boshqa qurilmalar (2015-yilda avtomobil koʻngilochar tizimlari[14] va maishiy robotlarga ham oʻrnatildi) uchun operatsion tizim hisoblanadi.<br>

    Dastlab ushbu operatsion tizim Android Inc. tomonidan ishlab chiqilgan, keyinchalik uni Google [15] sotib oldi. Operatsion tizim Linux yadrosi[16] va Google tomonidan ishlab chiqilgan Java virtual mashinasiga asoslangan. Keyinchalik, Google ushbu platformani qoʻllab-quvvatlash va uni yanada rivojlantirish bilan shugʻullanadigan Open Handset Alliance (OHA) shoʻbasini yaratdi.
    
    Android operatsion tizimi qurilmani Google tomonidan ishlab chiqilgan kutubxonalari orqali boshqariladigan Java ilovalarini ishga tushirish imkonini beradi. Android Native Development Kit sizga C va boshqa dasturlash tillarida yozilgan kutubxonalar va dastur komponentlari bilan ishlash imkonini beradi.
    
    2014-yilning ikkinchi choragida dunyo boʻylab sotilgan smartfonlarning 86 %ʼda Android tizimi oʻrnatilganligi[17] hamda 2017-yil may oyida ishlab chiquvchilar konferentsiyasida Google butun Android tarixida 2 milliarddan ortiq Android qurilmalari faollashtirilganligini eʼlon qildi.
    
    Android operatsion tizimi qurilmani Google tomonidan ishlab chiqilgan kutubxonalari orqali boshqariladigan Java ilovalarini ishga tushirish imkonini beradi. Android Native Development Kit sizga C va boshqa dasturlash tillarida yozilgan kutubxonalar va dastur komponentlari bilan ishlash imkonini beradi.
</p>
</div>




  <!--footer ------------------------------------------------------------------->
  {% include 'footer.html' %}
</body>
</html>