{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href={% static "dist/page2style.css" %}>
  <link rel="Icon" href={% static "dist/macospng.png" %}>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Zamonaviy OT</title>
</head>
<!-- header -------------------------------------------------------------------->
<body>
    {% include 'navbar.html' %}


  <div class="windows">
    <ul>
    <img src={% static "dist/macos.png" %} width="300px" height="300px">
    </ul>
<h1>MacOS operatsion tizimi<br></h1>
<p>
    <br>Mac OS (Macintosh Operating System) - bu Macintosh kompyuterlari qatori uchun Apple tomonidan ishlab chiqilgan (avval Apple Computer) bir qator grafik foydalanuvchi interfeysi operatsion tizimlarining markasi. Zamonaviy operatsion tizimlarda foydalanuvchilarning grafik interfeysini ommalashtirish ko'pincha Mac OS uchun muhim hisoblanadi. U 1984 yilda original Macintosh 128K bilan birgalikda sotuvga chiqarildi.
<br>Mac OS 1984 yilda Apple-ning birinchi Macintosh shaxsiy kompyuteri bilan ishga tushirildi.

Mac OS tizimining birinchi versiyasida yaratilgan g'oyalar, uning mualliflari Xerox kompaniyasidan to'plangan. O'sha paytda, Xerox PARC tadqiqot markazida allaqachon operatsion tizimlarning evolyutsion rivojlanishida haqiqiy yutuq bo'lgan grafik operatsion tizimli kompyuter mavjud edi. Ammo ular buni faqat o'z ehtiyojlari uchun ishlatishdi va tijorat maqsadlarida foydalanishni rejalashtirishmagan.

Mavjud tajriba va o'zlarining fikrlarini birlashtirib, Apple dasturchilari hamma uchun mavjud bo'lgan birinchi grafik operatsion tizim Mac OS-ni yaratdilar. Bunda ham biz barchamizga tanish bo'lgan deraza interfeysi, fayllar joylashgan papkalardan foydalandik va birinchi marta kursorni butun ekran bo'ylab siljitish qobiliyatiga ega kompyuter sichqoni deb nomlangan manipulyator ishlatildi. Ushbu kontseptsiya Apple narxining ham, texnik nuqtai nazardan hammaning e'tiboriga tushadigan kompyuter yaratishni taklif qilgan asosiy g'oyasiga mos keladi.

Shunga qaramay, Mac OS mualliflari ilgari kompyuterni o'rganmagan har qanday foydalanuvchi uchun qulay va intuitiv bo'lishi mumkin bo'lgan operatsion tizimni yaratishga kirishdilar. Shu vaqtgacha kompyuter dasturlari va jarayonlari buyruq satri yordamida boshqarilardi, shuning uchun papkalar, axlat qutilari, kompyuter va boshqa elementlarni bildiruvchi vizual piktogrammalar paydo bo'lishi o'sha davrning haqiqiy sensatsiyasiga aylandi. Yozuvchilar ushbu piktogramma piktogrammalarini chaqira boshladilar. Mac OS ishlab chiqaruvchilari barcha operatsion tizimlarni yanada rivojlantirish uchun poydevor qo'ydilar, 1984 yilda ishlab chiqilgan dasturlarning aksariyati hozirda barcha dasturiy ta'minot ishlab chiqaruvchilari uchun taqqoslanmoqda.
</p>
</div>




  <!--footer ------------------------------------------------------------------->
  {% include 'footer.html' %}
</body>
</html>